<h1>ClockWork</h1>
<h2>-- The Free and Open Source Scheduling Solution -- </h2>
<hr>
<p>Welcome to ClockWork.  This tool is designed to assist an organization schedule employees.  ClockWork strikes a balance - quickly and efficently fulfilling an organization's staffing needs, but protecting that staff's quality of life.  </p>
<hr>
<br>
<h2>Human Resources</h2>
<p> <a href="/views/people.erb"> People </a> </p>
<p>Standard Availabilities </p>
<p>Skills</p>
<h2>Scheduling</h2>
<p>ClockWork Scheduler</p>
<h2>Settings</h2>
<p>Settings</p>
<p>About</p>
