

<head>
	<title>ClockWork</title>
	<link rel="stylesheet" href="/css/hr.css">
	<script src="/js/people.js" ></script>
</head>

<h1> ClockWork </h1>

<ul id='menu_bar'> 
	 <a href="/"> <li class='non_active_tab'> Main Menu </li> </a>
	<li class='active_tab'> People </li>
	<a href='/views/std_avail.erb'> <li class='non_active_tab'> Standard Availabilities </li> </a>
  <li class='non_active_tab'> Skills </li>
  <li class='non_active_tab'> ClockWork Scheduler </li>
  <li class='non_active_tab'> Settings </li>
  <li class='non_active_tab'> About </li>	
</ul>

<br>

<button type="button" onclick="ShowOverlay('add_person')"> Add Employee </button>
<button type="button" onclick="ShowOverlay('delete_person')"> Delete Employee </button>

<br>

<table id="main_view">
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th class="email_style">Email Address</th>
	</tr>

		<script>
			// This is called only when the page is first loaded.  It places data into the
		 	// div directly below.  Since the page is loaded with GET, we use LINK to create
		 	// the inital "link" between this table and the database.
			MakeAjaxCall('LINK', '');
		</script>

</table>


<br>


<div id="fade"></div>

<div id="add_person" class="overlay">
	<h2> Add Employee </h2>
	<p> Please enter information about this employee. </p>

	First Name: <input type="text" id='add_first_name' maxlength="30"> <br>
	Last Name: <input type="text"  id='add_last_name' maxlength="20"> <br>
	Email Address: <input type="email" id='add_email' maxlenght="50"> <br>

	<input type="button" onclick="MakeAjaxCall('POST', 'add_person')" value="Submit">
	<input type="button" onclick="HideOverlay('add_person')" value="Cancel">
</div>


<div id="delete_person" class="overlay">
	<h2> Delete Employee </h2>
	<p> Please select the employee for deletion. </p>

	Employee Name: <select id="select_box_delete"> </select> <br>
	<input type="number" id="delete_id" style="display:none;">

	<input type="button" onclick="MakeAjaxCall('DELETE', 'delete_person')" value="Submit">
	<input type="button" onclick="HideOverlay('delete_person')" value="Cancel">

</div>


<div id="edit_person" class="overlay">
  <h2> Edit Employee Details </h2>
  <p> Please edit information about this employee. </p>

  First Name: <input type="text" id='edit_first_name' maxlength="30"> <br>
  Last Name: <input type="text"  id='edit_last_name' maxlength="20"> <br>
  Email Address: <input type="email" id='edit_email' maxlength="50"> <br>

  <input type="button" onclick="MakeAjaxCall('PUT', 'edit_person')" value="Submit">
  <input type="button" onclick="HideOverlay('edit_person')" value="Cancel">
</div>
</html>
