

<head>
	<title>ClockWork</title>
	<link rel="stylesheet" href="/css/hr.css">
	<script src="/js/std_avail.js" ></script>
</head>

<h1> ClockWork </h1>

<ul id='menu_bar'> 
	 <a href='/'> <li class='non_active_tab'> Main Menu </li> </a>
	<a href='/views/people.erb'><li class='non_active_tab'> People </li> </a>
	<li class='active_tab'> Standard Availabilities </li>
  <li class='non_active_tab'> Skills </li>
  <li class='non_active_tab'> ClockWork Scheduler </li>
  <li class='non_active_tab'> Settings </li>
  <li class='non_active_tab'> About </li>	
</ul>

<br>


<br>

<table id="main_view">
	<tr>
		<th>Name</th>
		<th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
	</tr>

		<script>
			// This is called only when the page is first loaded.  It places data into the
		 	// div directly below.  Since the page is loaded with GET, we use LINK to create
		 	// the inital "link" between this table and the database.
			MakeAjaxCall('LINK', '');
		</script>

</table>


<br>


<div id="fade"></div>

<div id="edit_avil" class="overlay">
  <h2> Edit Employee Standard Availability </h2>
	<h2 id="employee_label"></h2>
  <p> Please edit avilability information about this employee. </p>
	


  <input type="button" onclick="MakeAjaxCall('PUT', 'edit_avil')" value="Submit">
  <input type="button" onclick="HideOverlay('edit_avil')" value="Cancel">
</div>
</html>
