// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr:nth-child(even) 
{
	background: #8CDFF4;
}

tr:nth-child(odd) 
{
	background: #19BFE8;
}

th
{
	background-color:black;
	color:white;
	font-size:120%;
}